@model COP4834SchoolDatabase.Models.CourseRoster

@{
    ViewBag.Title = "Student Schedule";
}

<h2>Student Schedule View</h2>

<!--
<div>
    <h2>Student Schedule View</h2>
    @Html.DisplayFor(model => model.Courses.CourseTitle)
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Courses.CourseTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.CourseTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.StudentName)
        </dd>

    </dl>
</div>
    -->
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RosterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

