@model IEnumerable<COP4834SchoolDatabase.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sections.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sections.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoursetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoursetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoursetID })
        </td>
    </tr>
}

</table>
