@model IEnumerable<COP4834SchoolDatabase.Models.Student>

@{
    ViewBag.Title = "Index";
}


<style>
    .student {
      cursor: pointer; 
    }
    .student:hover{
        text-decoration: underline;
    }
    .sched {
      display: none;
      margin-left: 25px;
    }
</style>

<script>
$(document).ready(function(){
    $(".student").click(function(){
        $(this).next(".sched").toggle(); 
    });
});
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Student", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="student" title="Click for schedule">@Html.DisplayFor(modelItem => item.StudentName) </span> <br />

                <div class="sched">
                    @foreach (var item2 in ViewBag.CourseRosters)
                    {
                        if (item.StudentName == item2.Students.StudentName)
                        {
                            @item2.Courses.CourseTitle <br />
                        }
                    }
                </div>

<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }
</table>